header {
  background-color: #0b1c51;
  padding: 20px 15px;
}

h1 {
  font-size: 52px;
  color: white;
  margin: 0;
  text-align: center;
}

nav {
  font-family: "Montserrat", serif;
  padding-top: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  list-style: none;
  margin-right: 15px;
}
header nav ul li:last-child a {
  margin-right: 0;
}

/* Desktop settings */
@media all and (min-width: 600px) {
  h1 {
    font-size: 48px;
    text-align: left;
  }
  nav ul {
    justify-content: right;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }
  nav {
    padding-top: 0;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}
